<div class="cv-container">
  <header>
    <div class="profile-section">
      <div class="profile-image"></div>
      <div class="profile-info">
        <h1>BARNA DAMIEN</h1>
        <h2>Étudiant en Ingénierie <br> du Web</h2>
      </div>
      <div class="profile-card">
        <p>
          Passionné par le développement web et les nouvelles technologies, je recherche une alternance pour mettre en pratique mes compétences techniques et ma créativité.
        </p>
      </div>
    </div>
  </header>

  <main>
    <section class="left-column">
      <div class="info-block">
        <h3>INFORMATIONS</h3>
        <ul class="contact-list">
          <li><i data-feather="credit-card"></i>15/08/2000</li>
          <li><i data-feather="phone"></i> 06 99 09 04 42</li>
          <li><i data-feather="mail"></i> damiengbarna&#64;hotmail.fr</li>
          <li>
            <i data-feather="map-pin"></i> 47 Rue des Rossignols, Six fours les
            plages 83140
          </li>
          <li><i data-feather="credit-card"></i> Permis B, véhiculé</li>
          <li>
            <a
              href="https://www.linkedin.com/in/damien-barna-35741b270/"
              target="_blank"
              class="black"
              >https://www.linkedin.com/in/damien-barna-35741b270/</a
            >
          </li>
        </ul>
      </div>

      <div class="info-block">
        <h3>LANGUES</h3>
        <div class="language-item">
          <span>Anglais technique</span>
          <span class="level">B2</span>
        </div>
      </div>

      <div class="info-block skills">
        <h3>COMPÉTENCES</h3>
        <div class="skill-category">
          <h4>Langages</h4>
          <ul class="skill-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>PHP</li>
            <li>Java</li>
          </ul>
        </div>
        <div class="skill-category">
          <h4>Frameworks</h4>
          <ul class="skill-list">
            <li>Angular</li>
            <li>Symfony</li>
            <li>Express.js</li>
            <li>Spring Boot</li>
          </ul>
        </div>
        <div class="skill-category">
          <h4>Mobile</h4>
          <ul class="skill-list">
            <li>Android Studio</li>
            <li>Ionic</li>
          </ul>
        </div>
        <div class="skill-category">
          <h4>Back-end</h4>
          <ul class="skill-list">
            <li>Node.js</li>
            <li>PHP</li>
            <li>Java</li>
          </ul>
        </div>
        <div class="skill-category">
          <h4>ORM</h4>
          <ul class="skill-list">
            <li>Sequelize</li>
          </ul>
        </div>
        <div class="skill-category">
          <h4>Base de données</h4>
          <ul class="skill-list">
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>SQL</li>
          </ul>
        </div>
        <div class="skill-category">
          <h4>Fonctionnalités</h4>
          <ul class="skill-list">
            <li>CRUD</li>
            <li>Authentification</li>
            <li>API REST</li>
          </ul>
        </div>
        <div class="skill-category">
          <h4>Outils</h4>
          <ul class="skill-list">
            <li>Docker</li>
            <li>GitHub</li>
            <li>GitLab</li>
          </ul>
        </div>
        <div class="skill-category">
          <h4>Méthodologie</h4>
          <ul class="skill-list">
            <li>Agile / Scrum</li>
          </ul>
        </div>
      </div>

      <div class="info-block interests">
        <h3>CENTRES D'INTÉRÊT</h3>
        <div class="interest-category">
          <ul class="interest-list">
            <li><i data-feather="code"></i> Développement web</li>
            <li><i data-feather="cpu"></i> Nouvelles technologies</li>
            <li><i data-feather="monitor"></i> Jeux vidéo</li>
            <li><i data-feather="anchor"></i> Paddle</li>
          </ul>
        </div>
      </div>

      <div class="info-block experiences">
        <h3>EXPÉRIENCE PROFESSIONNELLE</h3>
        <div class="experience-item">
          <div class="experience-header">
            <h4>Le Venus du Gaou Six Fours</h4>
            <span class="year-bubble">2025</span>
          </div>
          <p class="experience-company">Employé polyvalent</p>
        </div>
        
        <div class="experience-item">
          <div class="experience-header">
            <h4>Intermarché Sanary</h4>
            <span class="year-bubble">2023</span>
          </div>
          <p class="experience-company">Mise en rayon</p>
        </div>

        <div class="experience-item">
          <div class="experience-header">
            <h4>Police municipale de Sanary</h4>
            <span class="year-bubble">2022</span>
          </div>
          <p class="experience-company">ASVP saisonnier</p>
        </div>

        <div class="experience-item">
          <div class="experience-header">
            <h4>Mairie de Sanary</h4>
            <span class="year-bubble">2021</span>
          </div>
          <p class="experience-company">Agent d'entretien du littoral</p>
        </div>
        <div class="experience-item">
          <div class="experience-header">
            <h4>Ecole Primaire Six Fours</h4>
            <span class="year-bubble">2020</span>
          </div>
          <p class="experience-company">Service civique</p>
        </div>
      </div>
    </section>

    <section class="right-column">
      <div class="info-block">
        <h3>RECHERCHE ALTERNANCE</h3>
        <div class="alternance-info">
          <div class="alternance-item">
            <h4>ESGI AIX EN PROVENCE</h4>
            <p>Formation en Ingénierie du Web</p>
            <p>Titre RNCP niveau 7 (bac +5)</p>
            <p>2025-2027</p>
          </div>
        </div>
      </div>

      <div class="info-block">
        <h3>PROJET PERSONNEL</h3>
        <div class="project">
          <div class="project-header">
            <h4>"Kabot"</h4>
          </div>
          <div class="project-content">
            <p>
              Conception et développement d'une API robuste en Node.js/Express avec CRUD
              complet et authentification (web + Socket.io)
            </p>
            <p>
              Intégration d'un launcher custom connecté via Socket.io et piloté
              par un script Python d'automatisation<br />
              Conception d'un Dashboard complet de gestion des utilisateurs en
              temps réel(Déconnexion forcé, abonnement etc..)
            </p>
          </div>
          <div class="project-tags">
            <span>Node.js</span>
            <span>Express</span>
            <span>Socket.io</span>
            <span>Python</span>
          </div>
        </div>
        <div class="project">
          <div class="project-header">
            <h4>Développeur Front Angular Bizhive</h4>
          </div>
          <div class="project-content">
            <p>
              Développement du Dashboard + composants Angular Material
              réutilisables
            </p>
            <a href="https://bizhive.pro/" target="_blank"
              >https://bizhive.pro/</a
            >
          </div>
          <div class="project-tags">
            <span>Node.js</span>
            <span>Angular</span>
            <span>Material</span>
            <span>UI/UX</span>
          </div>
        </div>
        <div class="project">
          <div class="project-header">
            <h4>Application Web Streaming</h4>
          </div>
          <div class="project-content">
            <p>
              Conception et développement d'une web app de Streaming + chat en temps réel développée pendant ma formation
            </p>
            <p>
              Plateforme complète avec authentification et fonctionnalités de
              streaming vidéo, chat en temps réel, gestion des utilisateurs, etc.
            </p>
          </div>
          <div class="project-tags">
            <span>Node.js</span>
            <span>Angular</span>
            <span>Express</span>
            <span>Socket.io</span>
            <span>WebRTC</span>
            <span>Login/CRUD</span>
          </div>
        </div>
      </div>

      <div class="info-block">
        <h3>DIPLÔMES</h3>
        <div class="diploma">
          <div class="diploma-header">
            <h4>La Plateforme</h4>
            <span class="year-bubble">Toulon / 2023-2024</span>
          </div>
          <div class="diploma-details">
            <p class="diploma-title">Formation CDA (Concepteur, développeur d'application)</p>
            <p class="diploma-subtitle">Titre RNCP niveau 6 (bac +3)</p>
            <ul class="diploma-skills">
              <li>Maquettage & UI/UX : Figma, diagrammes UML (use case)</li>
              <li>Langages : HTML, CSS, JavaScript, TypeScript, PHP, Java</li>
              <li>Frameworks : Angular, Symfony, Express.js, Spring Boot</li>
              <li>Back-end : Node.js, PHP, Java</li>
              <li>ORM : Sequelize</li>
              <li>Base de données : MySQL, PostgreSQL, SQL</li>
              <li>Fonctionnalités : CRUD, authentification, API REST</li>
              <li>Outils : Docker, GitHub, GitLab</li>
              <li>Déploiement : Expérience en mise en production</li>
              <li>Méthodologie : Agile / Scrum</li>
              <li>Langues : Anglais technique</li>
            </ul>
          </div>
        </div>

        <div class="diploma">
          <div class="diploma-header">
            <h4>POP School</h4>
            <span class="year-bubble">Toulon / 2021-2022</span>
          </div>
          <div class="diploma-details">
            <p class="diploma-title">Formation Technicien d'assistance en informatique</p>
            <p class="pop">
              Installation, configuration et maintenance de postes de travail,
              assistance aux utilisateurs (matériel, logiciels, réseaux),
              résolution d'incidents techniques, et participation au déploiement
              de solutions informatiques
            </p>
          </div>
        </div>

        <div class="diploma">
          <div class="diploma-header">
            <h4>Lycée Paul Langevin</h4>
            <span class="year-bubble">2016-2019</span>
          </div>
          <div class="diploma-details">
            <p class="diploma-title">BAC technologique (ITEC)</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
